/* HOTFIX: ensure the actual touch targets disable native gestures */
#stage { touch-action: none; -ms-touch-action: none; }
#anchor { touch-action: none; -ms-touch-action: none; -webkit-user-drag: none; user-select: none; }
